<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.calaisweb.calaisweb.website.dao.JldWebsiteDemeanourtypeMapper" >
  <resultMap id="BaseResultMap" type="com.calaisweb.calaisweb.website.entity.JldWebsiteDemeanourtype" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id_" property="id" jdbcType="VARCHAR" />
    <result column="text_" property="text" jdbcType="VARCHAR" />
    <result column="url_" property="url" jdbcType="VARCHAR" />
    <result column="order_" property="order" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id_, text_, url_, order_
  </sql>
</mapper>