<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.calaisweb.calaisweb.website.dao.JldWebsiteNavigationMapper" >
  <resultMap id="BaseResultMap" type="com.calaisweb.calaisweb.website.entity.JldWebsiteNavigation" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id_" property="id" jdbcType="VARCHAR" />
    <result column="en_" property="en" jdbcType="VARCHAR" />
    <result column="text_" property="text" jdbcType="VARCHAR" />
    <result column="url_" property="url" jdbcType="VARCHAR" />
    <result column="parent_id_" property="parentId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id_, en_, text_, url_, parent_id_
  </sql>
</mapper>